package pages

templ Test() {
    
    <!DOCTYPE html>
    <html lang="en" data-theme="dark">
    <head>
        <title>RolandQuest</title>
        <meta charset="UTF-8" />
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.1/dist/cdn.min.js"></script>
        <script defer src="public/rq_wc_import.js"></script>
        <link rel="icon" type="image/x-icon" href="/public/favicon-32x32.png"/>
        <link rel="stylesheet" href="/public/styles.css"/>
    </head>
        
        <rq-video-upload/>
        
        // <script>
        //     const input = document.getElementById('myInput');
        //     input.addEventListener('change', function(e) {
        //         if(e.target.files[0]) {
        //             console.log('Input value changed to: ', input.value)
        //         }
        //     })
        // </script>
        // <input id="myInput" accept="video/*" name="myInputName" type="file" />
        
        
    </html>
    
}
